{{>templates/open page='register'}}

{{>templates/header}}

<main class="register-page">

  <div class="flex-center">

    <div class="auth-form-container">

      <h1>{{translate 'SIGN-UP'}}</h1>
      
      {{>
        partials/forms/email-pass
        mod="sign-up"
      }}

    </div>

  </div>

</main>

{{>templates/footer}}

{{>templates/close}}
