{{>templates/open page='home'}}

{{>templates/header}}

<main class="index-page">

  <div class="container">

    <h1>{{siteSettings.name}}</h1>

    <div>

      <p>This is the homepage</p>

    </div>

  </div>

</main>

{{>templates/footer}}

{{>templates/close}}
