{{>templates/open page='login'}}

{{>templates/header}}

<main class="login-page">

  <div class="flex-center">

    <div class="auth-form-container">

      <h1>{{translate 'LOGIN'}}</h1>
      
      {{>
        partials/forms/email-pass
        mod="sign-in"
      }}

    </div>

  </div>

</main>

{{>templates/footer}}

{{>templates/close}}
