{{>templates/open page='register'}}

{{>templates/header}}

<main class="register-page">

  <h1>Sign Up</h1>
  {{>
    partials/forms/email-pass
    mod="sign-up"
  }}

</main>

{{>templates/footer}}

{{>templates/close}}
